@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cards {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  margin: 10px;
  word-wrap: normal;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
  color: blueviolet;
  margin-top: 40px;
  margin-bottom: 20px;
}
p {
  margin-top: 10px !important;
}
.Container {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  height: 100%;
  align-items: center;

  font-family: "Roboto", sans-serif;
  text-align: left;
}
h5 {
  max-width: 300px;
  margin-top: 10px;
  max-height: 50px;
  font-size: 14px;
  word-wrap: break-word;
}
p {
  word-wrap: break-word;
}
h5:hover {
  color: blue;
  cursor: pointer;
}
img {
  width: 280px;
  height: 150px;
}
